@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0.5%;
}

body{
    
    background-color: #EBE6E3;
    font-size: 62.5%;
    font-style: inherit;
    line-height: 1; 
    width: 100%;
    height: 100%;
    margin: 0;
}
.title{
    font-family: 'Dancing Script', cursive;
    font-size:60px;
    text-align: center;
    color:#0c0c0c;
    letter-spacing:10px;
    margin:0px 0 0 200px;
}
.logo{
   width:180px;
   height:160px;
   margin:-100px 0 0 0px;
   
}

.grid {
    display: grid;
    grid-template-columns: 15% auto auto 20%;
    grid-auto-rows: auto 1fr 1fr 75%;
    grid-template-areas: 
        "header header header header header"
        "nav middlepane middlepane middlepane aside"
        "nav footer footer footer footer";
    gap: 10%;
    row-gap: 15%;

    height: 5vh;
    margin: 0;
}

.border {
    border: 0;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    font-family: sans-serif;
}
nav{
    width: 90%;
    margin: 50%, auto;
    z-index: 900%;
}
nav ul li{
    list-style: none;
}

nav > li{
    float: left;
}

nav li a{
    background-color: beige;
    color:black;
    text-decoration: none;
    padding: 10% 12%;
    display: block;
}

nav li a:hover{
    background-color: gray;
}

nav li ul li{
    position: relative;
}

#middlepane {
    grid-area: middlepane;
    display: flex;
    flex-wrap: wrap;
}

section#middlepane {
    grid-area: middlepane;
}

section#aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3px;
    width: 25%;
}

.galeria{
    transition: tranform .2s;
}

.galeria:hover{
    transform: scale(2.5);
}

video {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3px;
    width: 25%;
}

h1{
    text-align: center;
    font-family: sans-serif;
    margin: 50px, 0, 0, 100px;
}

h2, h3, h4{
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
    font-size: 13px;
    /*font-size: 1.5rem;    */
    line-height: 1.333333334;
    margin-bottom: 20px;
    margin-bottom: 2rem;
    text-align: justify;
}

.social-bar {
    position: fixed;
    right: 0;
    top: 65%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon {
    color: black;
    text-decoration: none;
    padding: .8rem;
    display: flex;
    transition: all .5s;
}

.icon-mail {
    background: #DB4437;
}

.icon-instagram {
    background: #8134AF;
}

.icon-whatsapp {
    background: #128C7E;
}

.icon-facebook {
    background: #4267B2;
}

.icon:first-child {
    border-radius: 1rem 0 0 0;
}

.icon:last-child {
    border-radius: 0 0 0 1rem;
}

.icon:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba,(0, 0, 0, 0.42);
}

/*Estilos Mobile*/
/*@media screen and (min-width: 768px){
    body{
        ;
    }
}

#grilla { display: grid;}
@media screen and (min-width: 768px) {
    #grilla{
        grid-template-columns: repeat(4, 1fr);
    }
    .border{
        border: 4px solid black;
        background-color: blue;
    }
}

@media screen and (min-width: 1024px) {
    #grilla{
        grid-template-columns: repeat(3, 1fr);
    }
    .border{
        border: 4px solid black;
        background-color: gray;
    }
}*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
}

.card, .h2{
    color: grey;
    font-size: 22px;
    text-align: center;
}
  
.price,  .size{
    color: grey;
    font-size: 22px;
    text-align: center;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.7;
}

